body{
    background-color: azure;
}
   

button{
    border: 1px solid #1f0058;
    outline: 0;
    border-radius: 1rem;
    background: transparent;
    padding:1rem 1rem;
}
button:hover{
    color: #ffffff;
    border-top: 0;
    background-color: #1f0058;
}
input{
    margin-left: 4rem;
    padding: auto 1rem;
    background: transparent;
    outline: none;
    border-radius: 1rem;
    color: #1f0058;
    text-align: center;
    border: 0.4px solid #1f0058;
}
input:hover{
    border: none ;
    border-bottom: 1px solid #1f0058;;
}
p{
    font-style: italic;
}
